.page.page-three {
    background: linear-gradient(160deg, rgb(4, 10, 85), rgb(11, 21, 161), rgb(36, 86, 224), #FF9D51, rgb(255, 129, 32));
    justify-content: space-between;
    flex-direction: row;
    background-size: cover;
}

.dash {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    background: linear-gradient(#F0F0F0, #d8d8d8);
}

.dash-logo:hover {
    color: rgb(163, 163, 163);
}

.dash-logo-container {
    display: flex;
    align-items: center;
    height: 7%;
}

.dash-container .perfil h2,
.job {
    background: -webkit-linear-gradient(90deg, #F451FF, #9D51FF, #9D51FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.job {
    margin-bottom: 40px;
    font-size: 1.2em;
}

.perfil h2 {
    margin-top: 20px;
    font-size: 2em;
}

.imagem {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.planet {
    position: absolute;
    width: 200px;
    height: 180px;
    bottom: -125vh;
    left: 17%;
    transform: rotate(15deg);
    animation: float1 10s ease-in-out infinite;
}

@keyframes float1 {
    0%,
    100% {
        bottom: -125vh;
        transform: translatey(0);
        transform: rotate(25deg);
    }
    50% {
        bottom: -130vh;
        left: 17%;
        transform: translatey(-20px);
        transform: rotate(3deg);
    }
}

.astrooner {
    position: absolute;
    width: 220px;
    height: 200px;
    bottom: -200vh;
    right: 5%;
    transform: rotate(15deg);
    animation: float 15s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        bottom: -200vh;
        transform: translatey(0);
        transform: rotate(25deg);
    }
    50% {
        bottom: -195vh;
        right: 0%;
        transform: translatey(-20px);
        transform: rotate(3deg);
    }
}

.button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    width: 70%;
    height: 40px;
    color: #fff;
    background-color: #9D51FF;
    border-radius: 30px;
}

.buttons:hover {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

a[perfil] {
    border: 2px solid #9D51FF;
    color: #9D51FF;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 8px;
}

a[sair] {
    border: 2px solid #FF0000;
    color: #FF0000;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 80%;
}

.dash-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
}

.cards-container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-content: center;
    justify-content: center;
}

.cards {
    width: 20vw;
    height: 30vh;
    padding: 1vh 1vh 4vh 1vh;
    border-radius: 1px;
    background-color: white;
    box-shadow: -2px 4px 3px 1px rgba(0, 0, 0, 0.3);
    transform: rotate(-5deg);
    margin: auto;
}

.cards:hover>.card-image {
    height: 0px;
}

.cards:hover>.info {
    animation: flickerAnimation 1s;
    display: block;
}

.cards+div {
    transform: rotate(-1deg);
    box-shadow: 3px 4px 3px 1px rgba(0, 0, 0, 0.3);
}

.cards+div+div {
    transform: rotate(2deg);
    box-shadow: -2px 5px 3px 1px rgba(0, 0, 0, 0.3);
}

.cards+div+div+div {
    transform: rotate(2deg);
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.3);
}

.cards p {
    height: 20px;
    margin-top: 5px;
    z-index: 1;
    text-overflow: clip;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.info {
    display: none;
}

.info p {
    font-size: 1.5em;
    margin-bottom: 50px;
    ;
}

.info h2 {
    margin-bottom: 20px;
}

@keyframes flickerAnimation {
    /* flame pulses */
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icone {
    height: 50px;
    width: 50px;
}